In [1627]:
## Script to estimate linear model on correlations from simulated data (co-eQTL effect estimation)

# Libraries

In [1628]:
source('MS0_Libraries.r')

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
"incomplete final line found by readTableHeader on '../conda_environment/Environment_Configs.csv'"

[1] "/home/icb/corinna.losert/miniconda3/envs/scgrn_R_4_1//lib/R/library"

# Parameters

In [1629]:
### Parameters for co-EQTL data

In [1630]:
### Path to saved simulation results from previous script
data_path_sim = "../results/current/A1/"

In [ ]:
### Parameters for simulated co-EQTL data (names of the datasets)

In [1631]:
sim_data_name_counts = 'A1_4_Simulated_Counts'

In [1632]:
sim_data_name_true_cor = 'A1_4_Simulation_Specified_Correlation'

In [1633]:
cor_data_name = 'A1_5_Calc_Cor_Ext_'

In [ ]:
#### Simulated variant to load

In [1634]:
variant = 'wijstB3' # alternatives: scaling, no scaling, 'limited_scaling

In [1635]:
coeqtl_variant = 'scaling'

In [1636]:
sim_data_name_gene_summary = 'A1_4_Gene_Summary'

# Functions

In [ ]:
source('MS1_Functions.r')

# Data

## Define Links to individual datasets

In [1639]:
## Function to load specified correlations
cor_data = function(){
    path = paste0(data_path_sim,  sim_data_name_true_cor,variant, '_', coeqtl_variant, '.csv')
    print(file.info(path)$mtime)
    read.csv(path)
    

}

In [1640]:
## Function to load  specified counts
count_data = function(){
    path = paste0(data_path_sim,  sim_data_name_counts ,  variant, coeqtl_variant, '.csv.gz')
    print(file.info(path)$mtime)
    fread(path)
    }

In [1641]:
## Function to load calculated correlations

In [1642]:
cor_data_calc = function(){
    path = paste0(data_path_sim,  cor_data_name , variant, coeqtl_variant, '.csv')
    print(file.info(path)$mtime)
    read.csv(path)
    }

In [1643]:
## Function to load gene summary

In [1644]:
## Function to load  specified gene summary){
get_gene_summary = function( ){
    path = paste0(data_path_sim,  sim_data_name_gene_summary  , '_', variant, '_',  coeqtl_variant, '.csv.gz')
    print(file.info(path)$mtime)
    fread(path)
    }

## Get specification of simulation ( true values)

In [1645]:
### Get the specification of the correlation and expression of the different gene-pairs before simulation

In [1646]:
group1_data = data.frame()

In [1647]:
group1_data = cor_data()
group1_data$X = NULL

[1] "2025-01-22 10:19:06 CET"

In [1648]:
head(group1_data,2)

  gene1   gene2   gene1_mu gene2_mu gene1_size gene2_size genotype correlation
1 gene1_1 gene2_1  1       16       12         12         XX       0
2 gene1_4 gene2_4 24        9       12         12         XX       0
  gene_pair       ind ident
1 gene1_1;gene2_1 1   XX;1
2 gene1_4;gene2_4 1   XX;1

In [1649]:
### Extract the unique gene-pairs that have been specified

In [1650]:
correlation_pairs = unique(group1_data[,c('gene1', 'gene2')])

In [1651]:
head(correlation_pairs,2)

  gene1   gene2
1 gene1_1 gene2_1
2 gene1_4 gene2_4

In [1652]:
### Extract the correlation that has been specified for each gene-pair for each genotype

In [1653]:
true_correlations = unique(group1_data[,c('gene1', 'gene2', 'correlation', 'genotype')])

In [1654]:
nrow(true_correlations)

[1] 30000

In [1655]:
unique(group1_data$correlation)

[1] 0.00 0.05 0.10

In [1656]:
nrow(group1_data)

[1] 450000

## Get calculated correlations

In [1657]:
## Get the correlations that have been calculated on the simulated counts

In [1658]:
cor_data1 = cor_data_calc()

[1] "2025-01-22 11:01:14 CET"

In [1659]:
head(cor_data1,2)

  X gene1    gene2    ncells ind  spearman_raw weighted_spearman
1 1 gene1_1  gene2_1  10     XX;1 0.1376790    -0.02444693
2 2 gene1_10 gene2_10 10     XX;1 0.4699383     0.42961983
  weighted_spearman_non_zero_counts weighted_spearman_non_zero_genes
1 -0.03085977                       0.04700206
2  0.44380475                       0.31078641
  weighted_spearman_ranks pearson_raw weighted_pearson
1 -0.02905645             0.08543577  -0.02495656
2  0.37536750             0.58172802   0.29048743
  weighted_pearson_non_zero_counts weighted_pearson_non_zero_genes spearman
1 -0.03241479                      0.04931058                      0.05521888
2  0.29985118                      0.21190062                      0.29012943
  scaled_spearman_ranks pearson
1 0.05611031            0.05650416
2 0.29012943            0.19952510

In [1660]:
sort(unique(cor_data1$ind))

 [1] "XX;1"  "XX;10" "XX;11" "XX;12" "XX;13" "XX;14" "XX;15" "XX;16" "XX;17"
[10] "XX;18" "XX;19" "XX;2"  "XX;20" "XX;3"  "XX;4"  "XX;5"  "XX;6"  "XX;7"
[19] "XX;8"  "XX;9"  "XY;1"  "XY;10" "XY;11" "XY;12" "XY;13" "XY;14" "XY;15"
[28] "XY;2"  "XY;3"  "XY;4"  "XY;5"  "XY;6"  "XY;7"  "XY;8"  "XY;9"  "YY;1"
[37] "YY;10" "YY;2"  "YY;3"  "YY;4"  "YY;5"  "YY;6"  "YY;7"  "YY;8"  "YY;9"

## Get gene summaries

In [1661]:
## Get the expression summary stats for all the genes per individual of the simulated counts

In [1662]:
gene_summary1 = get_gene_summary()

[1] "2025-01-22 10:42:20 CET"

In [1663]:
head(gene_summary1,2)

  V1 variable basemean ncells ind  amount_zero_counts amount_cells mean_counts
1 1  gene1_1   1       10     XX;1 3                  10            1.0
2 2  gene2_1  16       10     XX;1 0                  10           14.5
  max_counts min_counts variance_counts percentage_zero percentage_zero_bin
1  3         0           0.8888889      30              (20,40]
2 33         6          68.5000000       0              (-0.001,5]

In [1664]:
## Extract the genotype information

In [1665]:
gene_summary1$genotype = str_replace(gene_summary1$ind, ';.*','')

# Prepare Data for Linear Model

In [1666]:
### Prepare data to estimate effect sizes on correlations with linear model

In [1667]:
nrow(cor_data1)

[1] 450000

In [1668]:
head(cor_data1,2)

  X gene1    gene2    ncells ind  spearman_raw weighted_spearman
1 1 gene1_1  gene2_1  10     XX;1 0.1376790    -0.02444693
2 2 gene1_10 gene2_10 10     XX;1 0.4699383     0.42961983
  weighted_spearman_non_zero_counts weighted_spearman_non_zero_genes
1 -0.03085977                       0.04700206
2  0.44380475                       0.31078641
  weighted_spearman_ranks pearson_raw weighted_pearson
1 -0.02905645             0.08543577  -0.02495656
2  0.37536750             0.58172802   0.29048743
  weighted_pearson_non_zero_counts weighted_pearson_non_zero_genes spearman
1 -0.03241479                      0.04931058                      0.05521888
2  0.29985118                      0.21190062                      0.29012943
  scaled_spearman_ranks pearson
1 0.05611031            0.05650416
2 0.29012943            0.19952510

In [1669]:
cor_data1$X = NULL

In [1670]:
### Extract genotype

In [1671]:
cor_data1$genotype = str_replace(cor_data1$ind, ';.*', '')

In [1672]:
## Transform to long format per correlation measure
cor_data1_long = melt(cor_data1, id = c('gene1', 'gene2', 'ncells', 'ind', 'genotype'))

In [1673]:
## Available correlation measures
unique(cor_data1_long$variable)

 [1] spearman_raw                      weighted_spearman
 [3] weighted_spearman_non_zero_counts weighted_spearman_non_zero_genes
 [5] weighted_spearman_ranks           pearson_raw
 [7] weighted_pearson                  weighted_pearson_non_zero_counts
 [9] weighted_pearson_non_zero_genes   spearman
[11] scaled_spearman_ranks             pearson
12 Levels: spearman_raw weighted_spearman ... pearson

In [1674]:
unique(cor_data1$genotype)

[1] "XX" "XY" "YY"

In [1675]:
## Add gene summary statistics to the correlations

In [1676]:
head(cor_data1_long,2)

  gene1    gene2    ncells ind  genotype variable     value
1 gene1_1  gene2_1  10     XX;1 XX       spearman_raw 0.1376790
2 gene1_10 gene2_10 10     XX;1 XX       spearman_raw 0.4699383

In [1677]:
nrow(cor_data1_long)

[1] 5400000

In [1678]:
head(gene_summary1,2)

  V1 variable basemean ncells ind  amount_zero_counts amount_cells mean_counts
1 1  gene1_1   1       10     XX;1 3                  10            1.0
2 2  gene2_1  16       10     XX;1 0                  10           14.5
  max_counts min_counts variance_counts percentage_zero percentage_zero_bin
1  3         0           0.8888889      30              (20,40]
2 33         6          68.5000000       0              (-0.001,5]
  genotype
1 XX
2 XX

In [1679]:
# Add summary stats for gene 1
cor_data1_long = merge(cor_data1_long, gene_summary1[,c('basemean', 'variable', 'ncells', 'ind', 'amount_zero_counts', 'mean_counts', 'percentage_zero', 'genotype')],
                       by.x = c('gene1', 'ncells', 'ind', 'genotype'), by.y = c('variable', 'ncells', 'ind' ,'genotype'))

In [1680]:
nrow(cor_data1_long)

[1] 5400000

In [1681]:
# Add summary stats for gene 2
cor_data1_long = merge(cor_data1_long, gene_summary1[,c('basemean', 'variable', 'ncells', 'ind', 'amount_zero_counts', 'mean_counts', 'percentage_zero', 'genotype')],
                       by.x = c('gene2', 'ncells', 'ind', 'genotype'), by.y = c('variable', 'ncells', 'ind', 'genotype'))

In [1682]:
nrow(cor_data1_long)

[1] 5400000

In [1683]:
head(cor_data1_long,2)

  gene2   ncells ind  genotype gene1   variable
1 gene2_1 10     XX;1 XX       gene1_1 spearman_raw
2 gene2_1 10     XX;1 XX       gene1_1 weighted_spearman_non_zero_genes
  value      basemean.x amount_zero_counts.x mean_counts.x percentage_zero.x
1 0.13767902 1          3                    1             30
2 0.04700206 1          3                    1             30
  basemean.y amount_zero_counts.y mean_counts.y percentage_zero.y
1 16         0                    14.5          0
2 16         0                    14.5          0

In [1684]:
## Rename dataset

In [1685]:
cor_data_long = cor_data1_long

In [1686]:
nrow(cor_data_long)

[1] 5400000

# co-eQTL Testing

## Linear Model on correlation coeficient

In [1687]:
### Estimate effect sizes for simulated data

In [1688]:
head(cor_data_long,2)

  gene2   ncells ind  genotype gene1   variable
1 gene2_1 10     XX;1 XX       gene1_1 spearman_raw
2 gene2_1 10     XX;1 XX       gene1_1 weighted_spearman_non_zero_genes
  value      basemean.x amount_zero_counts.x mean_counts.x percentage_zero.x
1 0.13767902 1          3                    1             30
2 0.04700206 1          3                    1             30
  basemean.y amount_zero_counts.y mean_counts.y percentage_zero.y
1 16         0                    14.5          0
2 16         0                    14.5          0

In [1689]:
### Calculate the amount of non-zero counts per gene (gene1 and gene2)

In [1690]:
cor_data_long$non_zero_counts.x = cor_data_long$ncells - cor_data_long$amount_zero_counts.x
cor_data_long$non_zero_counts.y = cor_data_long$ncells - cor_data_long$amount_zero_counts.y

In [1691]:
min(cor_data_long$non_zero_counts.x)
min(cor_data_long$non_zero_counts.y)

[1] 0

[1] 0

In [1692]:
## OPTIONAL: Filtering on at least 10 non-zero counts

In [1693]:
nrow(cor_data_long)

[1] 5400000

In [1694]:
non_zero_counts_filter = 10
cor_data_long = cor_data_long[(cor_data_long$non_zero_counts.x  > non_zero_counts_filter) & (cor_data_long$non_zero_counts.y  > non_zero_counts_filter),]

In [1695]:
nrow(cor_data_long)

[1] 1292964

In [1696]:
### Get for each individuum genotype and amount of cells

In [1697]:
ind_genotypes = unique(cor_data_long[,c('ind', 'genotype', 'ncells')])

In [1698]:
head(ind_genotypes,2)

    ind  genotype ncells
385 XX;5 XX       20
397 XY;3 XY       20

In [1699]:
nrow(ind_genotypes)

[1] 29

In [1700]:
unique(ind_genotypes$genotype)

[1] "XX" "XY" "YY"

In [1701]:
unique(ind_genotypes$ind)

 [1] "XX;5"  "XY;3"  "YY;6"  "XX;12" "XX;9"  "XY;13" "XX;17" "XX;20" "XX;6"
[10] "XX;4"  "XY;6"  "YY;9"  "YY;7"  "YY;4"  "XY;12" "XY;8"  "YY;2"  "YY;1"
[19] "YY;3"  "XX;14" "XX;8"  "XX;10" "XY;4"  "XY;10" "XY;14" "XY;7"  "XY;11"
[28] "XY;9"  "XY;15"

In [1702]:
# Check the amount of NA correlations in the data 
nrow(cor_data_long[is.na(cor_data_long$value),])

[1] 0

In [1703]:
# Filter out NA (correlatin could not be calculated) 
cor_data_long = cor_data_long[!is.na(cor_data_long$value),]

In [1704]:
nrow(cor_data_long)

[1] 1292964

In [1705]:
# Filter out gene-pairs where correlation could not be calculated for sufficuent amount of individuals

In [1706]:
#### Get the gene-pairs where the correlation could not be calculated in at least 20 individuals
#filter_genes_to_low_samples = cor_data_long %>% group_by( variable, gene1, gene2) %>% dplyr::count() %>% dplyr::filter(n<=20)

In [1707]:
nrow(filter_genes_to_low_samples)

[1] 2424

In [1708]:
### Get the gene-pairs where the correlation has onyl been calculated for one individual of the genotype
filter_genes_only_one_estimate = cor_data_long %>% group_by( variable, gene1, gene2, genotype) %>% dplyr::count() %>% dplyr::filter(n==1)

In [1709]:
nrow(filter_genes_only_one_estimate)

[1] 17844

In [1710]:
### Get the gene-pairs where correlation has onyl been calculated for one specific genotype 
filter_genes_only_one_group = unique(cor_data_long[,c( 'variable', 'gene1' , 'gene2', 'genotype')])  %>% group_by( variable, gene1, gene2) %>% dplyr::count() %>% dplyr::filter(n ==1)

In [1711]:
nrow(filter_genes_only_one_group)

[1] 11124

In [1712]:
### Combine the two types of filtering out gene-pairs

In [1713]:
filter_genes = unique(rbind(filter_genes_only_one_estimate[, c( 'variable', 'gene1', 'gene2')],
                            filter_genes_only_one_group[, c( 'variable', 'gene1', 'gene2')]#,
                           # filter_genes_to_low_samples[, c( 'variable', 'gene1', 'gene2')]                           
                           ))

In [1714]:
filter_genes = unique(filter_genes[, c( 'variable', 'gene1', 'gene2')])

In [1715]:
nrow(filter_genes)

[1] 24108

In [1716]:
### Remove the gene-pairs from the correlation data

In [1717]:
cor_data_long = anti_join(cor_data_long, filter_genes, by = c( 'variable', 'gene1', 'gene2')  )

In [1718]:
nrow(cor_data_long)

[1] 1145436

In [1719]:
## Calculate the z-score of the correlation

In [1720]:
cor_data_long$z_value = corr_to_z(cor_data_long$value, cor_data_long$ncells) # z-score

In [1721]:
cor_data_long$z_value_non_zero = corr_to_z(cor_data_long$value, (cor_data_long$non_zero_counts.x + cor_data_long$non_zero_counts.y)/2)   # z-score based on ncells with  non-zero counts

In [1722]:
head(cor_data_long,2)

  gene2    ncells ind  genotype gene1    variable    value      basemean.x
1 gene2_10 11     YY;9 YY       gene1_10 pearson_raw 0.78447571 9
2 gene2_10 11     YY;9 YY       gene1_10 pearson     0.01650075 9
  amount_zero_counts.x mean_counts.x percentage_zero.x basemean.y
1 0                    10.27273      0                 12
2 0                    10.27273      0                 12
  amount_zero_counts.y mean_counts.y percentage_zero.y non_zero_counts.x
1 0                    13.63636      0                 11
2 0                    13.63636      0                 11
  non_zero_counts.y z_value    z_value_non_zero
1 11                2.85893170 2.85893170
2 11                0.04815215 0.04815215

In [1723]:
### Check for missing and infinite z-scores

In [1724]:
nrow(cor_data_long[is.na(cor_data_long$z_value),])

[1] 0

In [1725]:
nrow(cor_data_long[is.infinite(cor_data_long$z_value),])

[1] 0

In [1726]:
max(cor_data_long$value[!is.infinite(cor_data_long$z_value)])

[1] 0.9703224

In [1727]:
## Get the amount of individuals left per genotype after filtering

In [1728]:
unique(cor_data_long[,c('ind', 'genotype')]) %>% group_by(genotype) %>% dplyr::count()

  genotype n
1 XX       10
2 XY       12
3 YY        7

In [1729]:
### Test the co-eQTL effect with a linear model (correlation =y; genotype = x)

In [1730]:
head(cor_data_long,2)

  gene2    ncells ind  genotype gene1    variable    value      basemean.x
1 gene2_10 11     YY;9 YY       gene1_10 pearson_raw 0.78447571 9
2 gene2_10 11     YY;9 YY       gene1_10 pearson     0.01650075 9
  amount_zero_counts.x mean_counts.x percentage_zero.x basemean.y
1 0                    10.27273      0                 12
2 0                    10.27273      0                 12
  amount_zero_counts.y mean_counts.y percentage_zero.y non_zero_counts.x
1 0                    13.63636      0                 11
2 0                    13.63636      0                 11
  non_zero_counts.y z_value    z_value_non_zero
1 11                2.85893170 2.85893170
2 11                0.04815215 0.04815215

In [1731]:
cor_data_long$genotype = factor(cor_data_long$genotype)

In [1732]:
unique(cor_data_long$genotype)

[1] YY XY XX
Levels: XX XY YY

In [1733]:
unique(as.numeric(cor_data_long$genotype))

[1] 3 2 1

In [1734]:
#as.numeric(levels(cor_data_long$genotype))

In [1735]:
lm_result = cor_data_long %>% group_by( variable, gene1, gene2) %>% group_modify(~ broom::tidy(lm(value ~ as.numeric(genotype), data = .x, na.action = 'na.omit')))

In [1736]:
lm_result_backup = lm_result   # save the result of the linear model as backup

In [1737]:
## Check the structure of the result of the linear model

In [1738]:
head(lm_result_backup,4)

  variable     gene1      gene2      term                 estimate
1 spearman_raw gene1_10   gene2_10   (Intercept)          -0.61835725
2 spearman_raw gene1_10   gene2_10   as.numeric(genotype)  0.34705695
3 spearman_raw gene1_1002 gene2_1002 (Intercept)           0.29214202
4 spearman_raw gene1_1002 gene2_1002 as.numeric(genotype)  0.07548951
  std.error  statistic p.value
1 0.16078955 -3.845755 0.0032345513
2 0.06113774  5.676640 0.0002047867
3 0.12469905  2.342777 0.0295938863
4 0.07679987  0.982938 0.3373801584

In [1739]:
nrow(lm_result_backup)

[1] 109680

In [1740]:
## filter out Intercept information to keep only beta
lm_result = lm_result_backup[lm_result_backup$term != '(Intercept)',]

In [1741]:
nrow(lm_result)

[1] 54840

In [1742]:
unique(lm_result$term)

[1] "as.numeric(genotype)"

## Linear model on z-value

In [1743]:
## Estimate the linear model on the z-value transformed correlations instead of the correlations

In [1744]:
### Define how to handle infinite z-value
# 1) Set to NA: ''
# 2) Replace by max: 'max'

In [1745]:
z_value_handle = ''

In [1746]:
if(z_value_handle == ''){
    cor_data_long$z_value[is.infinite(cor_data_long$z_value)] = NA
    cor_data_long$z_value_non_zero[is.infinite(cor_data_long$z_value_non_zero)] = NA
    }

if(z_value_handle == 'max'){
    cor_data_long$z_value[is.infinite(cor_data_long$z_value)]  = max(cor_data_long$z_value[!is.infinite(cor_data_long$z_value)])
    cor_data_long$z_value_non_zero[is.infinite(cor_data_long$z_value_non_zero)]  = max(cor_data_long$z_value[!is.infinite(cor_data_long$z_value_non_zero)])
    }

In [1747]:
max(cor_data_long$z_value[!is.na(cor_data_long$z_value)])

[1] 7.083154

In [1748]:
### Remove the NA z-values

In [1749]:
cor_data_long = cor_data_long[!is.na(cor_data_long$z_value),]

In [1750]:
## Define gene-pairs where z-score is only calculated for one specific individual

In [1751]:
filter_genes_only_one_estimate = cor_data_long %>% group_by( variable, gene1, gene2, genotype) %>% dplyr::count() %>% dplyr::filter(n==1)

In [1752]:
nrow(filter_genes_only_one_estimate)

[1] 0

In [1753]:
## Define gene-pairs where z-score is only calculated for one specific genotype

In [1754]:
filter_genes_only_one_group = unique(cor_data_long[,c( 'variable', 'gene1' , 'gene2', 'genotype')])  %>% group_by( variable, gene1, gene2) %>% dplyr::count() %>% dplyr::filter(n ==1)

In [1755]:
nrow(filter_genes_only_one_group)

[1] 0

In [1756]:
## Combine the two types of filtering out gene-pairs

In [1757]:
filter_genes = unique(rbind(filter_genes_only_one_estimate[, c( 'variable', 'gene1', 'gene2')],filter_genes_only_one_group[, c( 'variable', 'gene1', 'gene2')]))

In [1758]:
filter_genes = unique(filter_genes[, c( 'variable', 'gene1', 'gene2')])

In [1759]:
nrow(filter_genes)

[1] 0

In [1760]:
### Remove the gene-pairs from the correlation data

In [1761]:
cor_data_long = anti_join(cor_data_long, filter_genes, by = c( 'variable', 'gene1', 'gene2')  )

In [1762]:
## Calculate the linear model for the z-score

In [1763]:
lm_result_z = cor_data_long[!is.na(cor_data_long$z_value),] %>% group_by(variable, gene1, gene2) %>% group_modify(~ broom::tidy(lm(z_value ~ as.numeric(genotype), data = .x, na.action = 'na.omit')))

In [1764]:
## Filter out the Intercept information
lm_result_z = lm_result_z[lm_result_z$term != '(Intercept)',]

In [1765]:
## Rename the columns to specify they are based on z-scores
colnames(lm_result_z) = paste0(colnames(lm_result_z), '_z')

In [1766]:
nrow(lm_result_z)

[1] 54840

In [1767]:
unique(lm_result_z$term_z)

[1] "as.numeric(genotype)"

In [1768]:
## Merge the z-score based result to the result based on correlations

In [1769]:
lm_result = merge(lm_result, lm_result_z, by.x = c('gene1', 'gene2', 'variable'), by.y =  c('gene1_z', 'gene2_z','variable_z'), all.x = TRUE)

## Add meta- information to linear model result and save

In [1770]:
## Add summary statistics like mean expression per gene etc. to the model results and save the model results

In [1771]:
###Get amount of tests and correct the p-value for multiple testing (correlation based p-value)

In [1772]:

amount_tests = lm_result %>% group_by(variable) %>% summarise(amount_tests = n())

In [1773]:
lm_result = merge(lm_result, amount_tests)

In [1774]:
lm_result$p.value_adj = lm_result$p.value * lm_result$amount_tests

In [1775]:
### Add information about mean percentage of zero of gene across individuals

In [1776]:
gene_summary = gene_summary1 # combine info from all individuals

In [1777]:
head(gene_summary,2)

  V1 variable basemean ncells ind  amount_zero_counts amount_cells mean_counts
1 1  gene1_1   1       10     XX;1 3                  10            1.0
2 2  gene2_1  16       10     XX;1 0                  10           14.5
  max_counts min_counts variance_counts percentage_zero percentage_zero_bin
1  3         0           0.8888889      30              (20,40]
2 33         6          68.5000000       0              (-0.001,5]
  genotype
1 XX
2 XX

In [1778]:
# summarise the gene-statistics across both genotypes
gene_summary_sum_all = gene_summary %>% group_by(variable) %>% summarise(
    amount_zero_counts = mean(amount_zero_counts,na.rm = TRUE),
    var_amount_zero_counts = var(amount_zero_counts, na.rm = TRUE),
    mean_counts = mean(mean_counts, na.rm = TRUE),
    var_mean_counts = var(mean_counts, na.rm = TRUE),
    percentage_zero = mean(percentage_zero, na.rm = TRUE),
    var_percentage_zero = var(percentage_zero, na.rm = TRUE),
    mean_ncells = mean(ncells),
    sd_ncells =sd(ncells)
    )

In [1779]:
# summarise the gene-statistics per genotype and basemean
gene_summary_sum = gene_summary %>% group_by(variable, basemean, genotype) %>% summarise(
    amount_zero_counts = mean(amount_zero_counts,na.rm = TRUE),
    var_amount_zero_counts = var(amount_zero_counts, na.rm = TRUE),
    mean_counts = mean(mean_counts, na.rm = TRUE),
    var_mean_counts = var(mean_counts, na.rm = TRUE),
    percentage_zero = mean(percentage_zero, na.rm = TRUE),
    var_percentage_zero = var(percentage_zero, na.rm = TRUE),
    mean_ncells = mean(ncells),
    sd_ncells =sd(ncells)
    )

`summarise()` has grouped output by 'variable', 'basemean'. You can override
using the `.groups` argument.

In [1780]:
head(gene_summary_sum,2)

  variable basemean genotype amount_zero_counts var_amount_zero_counts
1 gene1_1  1        XX       6.95               NA
2 gene1_1  1        XY       7.20               NA
  mean_counts var_mean_counts percentage_zero var_percentage_zero mean_ncells
1 1.0276534   NA              43.02716        NA                  15.95000
2 0.9940176   NA              42.13823        NA                  16.53333
  sd_ncells
1 7.082038
2 7.623897

In [1781]:
#gene_summary_sum1 = gene_summary_sum[gene_summary_sum$genotype == genotype_perm,]
#colnames(gene_summary_sum1) = paste0(genotype_perm, '_',  colnames(gene_summary_sum1 ))
#gene_summary_sum2 = gene_summary_sum[gene_summary_sum$genotype == genotype_orig,]
#colnames(gene_summary_sum2) = paste0(genotype_orig, '_',  colnames(gene_summary_sum2 ))

In [1782]:
unique(gene_summary_sum$genotype)

[1] "XX" "XY" "YY"

In [1783]:
head(lm_result,2)

  variable gene1      gene2      term                 estimate   std.error
1 pearson  gene1_10   gene2_10   as.numeric(genotype) 0.12779867 0.04387965
2 pearson  gene1_6952 gene2_6952 as.numeric(genotype) 0.01561604 0.02580120
  statistic p.value    term_z               estimate_z std.error_z statistic_z
1 2.9124813 0.01549873 as.numeric(genotype) 0.53349520 0.18399799  2.8994621
2 0.6052446 0.55007033 as.numeric(genotype) 0.06402256 0.09795724  0.6535766
  p.value_z  amount_tests p.value_adj
1 0.01584819 4570           70.8292
2 0.51891244 4570         2513.8214

In [1784]:
## add for gene 1
#lm_result = merge(lm_result, gene_summary_sum, by.x = c('gene1', 'genotype'), by.y = c('variable', 'genotyp'))

In [1785]:
## add for gene2 
#lm_result = merge(lm_result, gene_summary_sum1, by.x = c('gene2'), by.y = c(paste0(genotype_perm, '_variable')))
#lm_result = merge(lm_result, gene_summary_sum2, by.x = c('gene2'), by.y = c(paste0(genotype_orig, '_variable')))

In [1786]:
## add summary across both genotypes
lm_result = merge(lm_result, gene_summary_sum_all, by.x = c('gene1'), by.y = c('variable'))
lm_result = merge(lm_result, gene_summary_sum_all, by.x = c('gene2'), by.y = c('variable'))

In [1787]:
head(lm_result,2)

  gene2    gene1    variable              term                 estimate
1 gene2_10 gene1_10 pearson               as.numeric(genotype) 0.1277987
2 gene2_10 gene1_10 scaled_spearman_ranks as.numeric(genotype) 0.0216004
  std.error  statistic p.value    term_z               estimate_z ⋯
1 0.04387965 2.9124813 0.01549873 as.numeric(genotype) 0.53349520 ⋯
2 0.05444663 0.3967261 0.69990385 as.numeric(genotype) 0.04768307 ⋯
  mean_ncells.x sd_ncells.x amount_zero_counts.y var_amount_zero_counts.y
1 15.93333      6.668788    0                    NA
2 15.93333      6.668788    0                    NA
  mean_counts.y var_mean_counts.y percentage_zero.y var_percentage_zero.y
1 12.19637      NA                0                 NA
2 12.19637      NA                0                 NA
  mean_ncells.y sd_ncells.y
1 15.93333      6.668788
2 15.93333      6.668788

In [1788]:
nrow(lm_result)

[1] 54840

In [1789]:
## Add information about true correlation difference from the specifications

In [1790]:
head(lm_result,2)

  gene2    gene1    variable              term                 estimate
1 gene2_10 gene1_10 pearson               as.numeric(genotype) 0.1277987
2 gene2_10 gene1_10 scaled_spearman_ranks as.numeric(genotype) 0.0216004
  std.error  statistic p.value    term_z               estimate_z ⋯
1 0.04387965 2.9124813 0.01549873 as.numeric(genotype) 0.53349520 ⋯
2 0.05444663 0.3967261 0.69990385 as.numeric(genotype) 0.04768307 ⋯
  mean_ncells.x sd_ncells.x amount_zero_counts.y var_amount_zero_counts.y
1 15.93333      6.668788    0                    NA
2 15.93333      6.668788    0                    NA
  mean_counts.y var_mean_counts.y percentage_zero.y var_percentage_zero.y
1 12.19637      NA                0                 NA
2 12.19637      NA                0                 NA
  mean_ncells.y sd_ncells.y
1 15.93333      6.668788
2 15.93333      6.668788

In [1791]:
### Format the information about the true correlations from the specification to calculate the specified difference in correlation

In [1792]:
true_correlations = true_correlations %>% dcast(gene1 + gene2 ~ genotype, value.var = 'correlation')

In [1793]:
head(true_correlations,2)

  gene1    gene2    XX XY   YY
1 gene1_1  gene2_1  0  0.05 0.1
2 gene1_10 gene2_10 0  0.05 0.1

In [1794]:
if(ncol(true_correlations) == 4){
    colnames(true_correlations) = c('gene1', 'gene2', 'group1_correlation', 'group2_correlation')
    true_correlations$cor_diff = true_correlations$group2_correlation - true_correlations$group1_correlation
    }
if(ncol(true_correlations) == 5){
    colnames(true_correlations) = c('gene1', 'gene2', 'group1_correlation', 'group2_correlation', 'group3_correlation')
    true_correlations$cor_diff = true_correlations$group3_correlation - true_correlations$group1_correlation
    }

In [1795]:
#colnames(true_correlations) = c('gene1', 'gene2', 'group1_correlation', 'group2_correlation')

In [1796]:
head(true_correlations,2)

  gene1    gene2    group1_correlation group2_correlation group3_correlation
1 gene1_1  gene2_1  0                  0.05               0.1
2 gene1_10 gene2_10 0                  0.05               0.1
  cor_diff
1 0.1
2 0.1

In [1797]:
#true_correlations$cor_diff = true_correlations$group2_correlation - true_correlations$group1_correlation

In [1798]:
nrow(true_correlations)

[1] 10000

In [1799]:
### Add the calculated true correlation differences to the data

In [1800]:
if(ncol(true_correlations) == 5){
    lm_result = merge(lm_result, true_correlations[,c('gene1', 'gene2',  'group1_correlation' , 'group2_correlation',  'cor_diff')],
          by.x = c('gene1', 'gene2'),
          by.y = c('gene1', 'gene2'))
    }
if(ncol(true_correlations) == 6){
    lm_result = merge(lm_result, true_correlations[,c('gene1', 'gene2',  'group1_correlation' , 'group2_correlation',  'group3_correlation', 'cor_diff')],
          by.x = c('gene1', 'gene2'),
          by.y = c('gene1', 'gene2'))
    }

In [1801]:
head(lm_result,2)

  gene1    gene2    variable              term                 estimate
1 gene1_10 gene2_10 pearson               as.numeric(genotype) 0.1277987
2 gene1_10 gene2_10 scaled_spearman_ranks as.numeric(genotype) 0.0216004
  std.error  statistic p.value    term_z               estimate_z ⋯
1 0.04387965 2.9124813 0.01549873 as.numeric(genotype) 0.53349520 ⋯
2 0.05444663 0.3967261 0.69990385 as.numeric(genotype) 0.04768307 ⋯
  mean_counts.y var_mean_counts.y percentage_zero.y var_percentage_zero.y
1 12.19637      NA                0                 NA
2 12.19637      NA                0                 NA
  mean_ncells.y sd_ncells.y group1_correlation group2_correlation
1 15.93333      6.668788    0                  0.05
2 15.93333      6.668788    0                  0.05
  group3_correlation cor_diff
1 0.1                0.1
2 0.1                0.1

In [1802]:
nrow(lm_result)

[1] 54840

In [1803]:
colnames(lm_result)

 [1] "gene1"                    "gene2"
 [3] "variable"                 "term"
 [5] "estimate"                 "std.error"
 [7] "statistic"                "p.value"
 [9] "term_z"                   "estimate_z"
[11] "std.error_z"              "statistic_z"
[13] "p.value_z"                "amount_tests"
[15] "p.value_adj"              "amount_zero_counts.x"
[17] "var_amount_zero_counts.x" "mean_counts.x"
[19] "var_mean_counts.x"        "percentage_zero.x"
[21] "var_percentage_zero.x"    "mean_ncells.x"
[23] "sd_ncells.x"              "amount_zero_counts.y"
[25] "var_amount_zero_counts.y" "mean_counts.y"
[27] "var_mean_counts.y"        "percentage_zero.y"
[29] "var_percentage_zero.y"    "mean_ncells.y"
[31] "sd_ncells.y"              "group1_correlation"
[33] "group2_correlation"       "group3_correlation"
[35] "cor_diff"

In [1804]:
## Calculate the true z-value difference based on the true correlation difference

In [1805]:
lm_result$cor_diff_z = corr_to_z(as.numeric(lm_result$cor_diff), (lm_result$mean_ncells.x + lm_result$mean_ncells.y) /2)

In [1806]:
### Save the result

In [1807]:
write.csv(lm_result, paste0(data_path_sim, 'A1_6_Calc_LM', '_', variant, coeqtl_variant, z_value_handle, non_zero_counts_filter,  '.csv'))